.mobile-nav-container .mobile-nav-trigger,
.toggle-push-left {

	background: #464646;
	color: white;
	padding: .5em;
	padding: .5rem;
	width: 8rem;
	text-align: center;
	vertical-align: inherit;
	cursor: pointer;
	display: block;
	margin: 0 auto;

}

.mobile-nav-container .mobile-nav-trigger {
	width: 10rem;
	margin: 1em auto;
}

	/* mobile push menu */

	.mobile-menu-icon {
		padding: 1em 0;
		display: block;
		margin: 5em auto 0 auto;
		background: #C2DDE0;
		color: #8C3225;
		height: auto;
		width: 100px;
		text-align: center;
		cursor: pointer;
	}

	.mobile-nav-inner {
		position: absolute;
		width: 100%;
		background: transparent;
		z-index: 2;
	}

	.mobile-nav-inner li {
		font-family: Georgia,Times New Roman;
		font-size: 1.5em;
		text-align: center;
		padding: .5em;
	}

	.mobile-nav-inner .sub-menu li {
		font-size: 1em;
	}

	.mobile-nav-inner li:hover,
	.mobile-nav-inner li:focus {
		background: #444;
	}

	.mobile-nav-inner .sub-menu li:hover,
	.mobile-nav-inner .sub-menu  li:focus {
		background: #444;
	}

	.mobile-nav-inner li a:hover,
	.mobile-nav-inner li a:focus {
		text-decoration: none;
	}

	.mobile-nav-inner .sub-menu {
		display: none;
	}

	.sub-menu-toggle {
		height: 40px;
		width: 40px;
		cursor: pointer;
		display: block;
		position: absolute;
		margin-left: 75.5%;
		margin-top: -25%;
		background: transparent;
		color: white;
		line-height: 2.2rem;
	}

	.sub-menu .sub-menu-toggle {
		margin-left: 69%;
	}

	.sub-menu-toggle:hover,
	.sub-menu-toggle:focus {
		color: #8C32
	}

	nav.mobile-menu {
	    position: fixed;
	    z-index: 20;
	    background-color: #666;
	    overflow-x: hidden;
	    overflow-y: inherit;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	nav.mobile-menu ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	}
	nav.mobile-menu a {
	    font-weight: 300;
	    color: #fff;
	}

	.mobile-menu .close-menu {
	    background-color: #3184a1;
	    color: #fff;
	}

	.mobile-menu .close-menu:focus {
	    outline: none
	}

	nav.push-menu-left {
	    top: 0;
	    width: 200px;
	    height: 100%;
	}

	.logged-in nav.push-menu-left {
		margin-top: 32px;
	}

	nav.push-menu-left li{
	    display: block;
	    text-align: center;
	    border-bottom: solid 1px #444;
	    border-top: solid 1px #555;
	}

	nav.push-menu-left li:first-child {
	    border-top: none
	}

	nav.push-menu-left li:last-child {
	    border-bottom: none
	}

	nav.push-menu-left a {
	    display: block;
	    padding: 10px;
	    font-size: 18px;
	}

	nav.push-menu-left a:hover,
	nav.push-menu-left a:focus {
		text-decoration: none;
		background: #444;
	}

	.push-menu-left .sub-menu {
		display: none;
		border: 0;
	}

	.push-menu-left .sub-menu .sub-menu {
		background: #444;
	}

	.push-menu-left .sub-menu .sub-menu .sub-menu {
		background: #333;
	}

	.sub-menu li {
		clear: both;
		display: block;
	}

	nav.push-menu-left button.close-menu {
	    margin: 10px 0;
	    padding: 10px 30px;
	    background-color: #3184a1;
	    color: #fff;
	}

	nav.push-menu-left {
	    left: -200px
	}

	body.pml-open nav.push-menu-left {
	    left: 0;
	    -webkit-box-shadow: 7px 0px 19px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 7px 0px 19px -5px rgba(0,0,0,0.75);
		box-shadow: 7px 0px 19px -5px rgba(0,0,0,0.75);
	}

	body.pml-open #wrapper {
	    left: 300px
	}